In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [3]:
df.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [5]:
#Criando uma nova coluna na qual adicionamos o GDP per capita
df['GDP per capita'] = df['GDP'] / df['Population']
df

,Population,GDP,Surface Area,HDI,Continent,GDP per capita
Canada,35.467,1785387,9984670,0.913,America,50339.385908
France,63.951,2833687,640679,0.888,Europe,44310.284437
Germany,80.940,3874437,357114,0.916,Europe,47868.013343
Italy,60.665,2167744,301336,0.873,Europe,35733.025633
Japan,127.061,4602367,377930,0.891,Asia,36221.712406
United Kingdom,64.511,2950039,242495,0.907,Europe,45729.239975
United States,318.523,17348075,9525067,0.915,America,54464.120330

In [6]:
#Informações estatísticas
df.head()

         Population      GDP  Surface Area    HDI Continent  GDP per capita
Canada       35.467  1785387       9984670  0.913   America    50339.385908
France       63.951  2833687        640679  0.888    Europe    44310.284437
Germany      80.940  3874437        357114  0.916    Europe    47868.013343
Italy        60.665  2167744        301336  0.873    Europe    35733.025633
Japan       127.061  4602367        377930  0.891      Asia    36221.712406

In [7]:
df.describe()

       Population           GDP  Surface Area       HDI  GDP per capita
count    7.000000  7.000000e+00  7.000000e+00  7.000000        7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429    44952.254576
std     97.249970  5.494020e+06  4.576187e+06  0.016592     6954.983875
min     35.467000  1.785387e+06  2.424950e+05  0.873000    35733.025633
25%     62.308000  2.500716e+06  3.292250e+05  0.889500    40265.998421
50%     64.511000  2.950039e+06  3.779300e+05  0.907000    45729.239975
75%    104.000500  4.238402e+06  5.082873e+06  0.914000    49103.699626
max    318.523000  1.734808e+07  9.984670e+06  0.916000    54464.120330

In [8]:
population = df['Population']

In [9]:
population.min(), population.max()

(35.467, 318.523)

In [10]:
population.sum()

751.118

In [11]:
population.sum() / len(population)

107.30257142857144

In [12]:
population.mean()

107.30257142857144

In [13]:
population.std() #desvio padrão

97.24996987121581

In [14]:
population.median()

64.511

In [15]:
population.describe()

count      7.000000
mean     107.302571
std       97.249970
min       35.467000
25%       62.308000
50%       64.511000
75%      104.000500
max      318.523000
Name: Population, dtype: float64

In [16]:
population.quantile(.25) #0.25 quantile = 25 percentile

62.308

In [17]:
population.quantile([.2, .4, .6, .8, 1])

0.2     61.3222
0.4     64.1750
0.6     74.3684
0.8    117.8368
1.0    318.5230
Name: Population, dtype: float64

In [37]:
#Exercícios pandas
df = pd.read_excel('btc-market-price.csv', header=None)

In [38]:
df.head()

           0             1
0 2017-04-02  1.099169e+09
1 2017-04-03  1.141813e+06
2 2017-04-04  1.141600e+10
3 2017-04-05  1.133079e+16
4 2017-04-06  1.196308e+10

In [40]:
df.columns = ['Timestamp', 'Price']

In [41]:
df.head()

   Timestamp         Price
0 2017-04-02  1.099169e+09
1 2017-04-03  1.141813e+06
2 2017-04-04  1.141600e+10
3 2017-04-05  1.133079e+16
4 2017-04-06  1.196308e+10

In [42]:
df.shape

(365, 2)

In [43]:
df.tail(3)

     Timestamp         Price
362 2018-03-30  6.882532e+15
363 2018-03-31  6.935480e+03
364 2018-04-01  6.794105e+06

In [44]:
pd.to_datetime(df['Timestamp']).head()

0   2017-04-02
1   2017-04-03
2   2017-04-04
3   2017-04-05
4   2017-04-06
Name: Timestamp, dtype: datetime64[ns]

In [45]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [46]:
df.head()

   Timestamp         Price
0 2017-04-02  1.099169e+09
1 2017-04-03  1.141813e+06
2 2017-04-04  1.141600e+10
3 2017-04-05  1.133079e+16
4 2017-04-06  1.196308e+10

In [47]:
df.set_index('Timestamp', inplace=True)

In [48]:
df.head()

                   Price
Timestamp
2017-04-02  1.099169e+09
2017-04-03  1.141813e+06
2017-04-04  1.141600e+10
2017-04-05  1.133079e+16
2017-04-06  1.196308e+10

In [49]:
df.loc['2017-09-29']

Price    4.193575e+15
Name: 2017-09-29 00:00:00, dtype: float64

In [52]:
#Adicionando tudo de uma única vez
df = pd.read_excel(
    'btc-market-price.csv',
    header=None,
    names=['Timestamp', 'Price'],
    index_col=0,
    parse_dates=True
)

In [53]:
df

                   Price
Timestamp
2017-04-02  1.099169e+09
2017-04-03  1.141813e+06
2017-04-04  1.141600e+10
2017-04-05  1.133079e+16
2017-04-06  1.196308e+10
...                  ...
2018-03-28  7.960380e+03
2018-03-29  7.172280e+03
2018-03-30  6.882532e+15
2018-03-31  6.935480e+03
2018-04-01  6.794105e+06

[365 rows x 1 columns]